<!DOCTYPE html>
<html lang="en" class="scroll-smooth antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="">
    <link rel="shortcut icon" type="x-icon" href="img/Logo PPK Ormawa (solo).png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


    
    <div class="ease-in-out">
        <%- include('user/nav') %>
    </div>
    
    <div>
        <%- include('user/header') %>
    </div>
    
    <div>
        <%- include('user/about') %>
    </div>
    
    <div>
        <%- include('user/cta') %>
    </div>

    
    <div>
        <%- include('user/type') %>
    </div>
    
    <div>
        <%- include('user/logo') %>
    </div>
    
    <div>
        <%- include('user/footer') %>
    </div>

    
      
</body>
</html>